{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<div class="mx-5 my-5 px-5 py-5 position-relative" style="background-color: rgb(208, 185, 174,0.3);">
    <form method="post">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se
                déconnecter</a>
        </div>
        {% endif %}

        <h1 class="h2 mb-3 font-weight-normal" style="color:#CC920D">Se connecter</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3"
            autocomplete="email" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password"
            required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class=" mt-5 btn" style="background-color: #D0B9AE;" type="submit">
            Se connecter
        </button>
    </form>
    <a href="{{ path('app_home_backoffice')}}" id="backButton">
      <span>Revenir à la page d'accueil</span> 
    </a>
    
</div>
{% endblock %}