{% extends 'main.html.twig' %}

{% block title %}Liste des oeuvres{% endblock %}

{% block sub_body %}
<h1 class="text-center">Liste des oeuvres validés</h1>
{{ include('_flash_messages.html.twig')}}
<div class="text-center d-flex justify-content-around">
    <a href="{{ path('app_artwork_new') }}" class="btn btn-outline-success mb-4 mt-4">Ajouter une oeuvre</a>
</div>
{{ include('_button_up.html.twig') }}
<form class="d-inline-flex mb-5" role="search">
    <input class="form-control me-2" type="search" placeholder="Rechercher" name="keyword" aria-label="Search"
        value="{{ app.request.query.get('keyword') }}">
    <button class="btn btn-outline-dark" type="submit">Rechercher</button>
</form>
<table class="table table-striped table-hover">
    <thead>
        <tr class="text-center">
            <th>Titre</th>
            <th>Description</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for artwork in artworks %}
        <tr class="text-center">
            <td>{{ artwork.title|raw }}</td>
            {% if artwork.description is same as (null)%}
            <td>-</td>
            {% else %}
            <td style="text-align: justify; width: 40rem;">{{ artwork.description|raw }}</td>
            {% endif %}
            <td style="text-align: end;"><img src="{{ artwork.picture|raw }}" height="100px"></td>
            <td>
                <a href="{{ path('app_artwork_show', {'id': artwork.id}) }}" class="btn btn-outline-primary btn-sm">En
                    savoir plus</a>
                <a href="{{ path('app_artwork_edit', {'id': artwork.id}) }}"
                    class="btn btn-outline-warning btn-sm">Modifier</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="7" class="text-center">Aucune oeuvre pour le moment</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}