{% extends 'main.html.twig' %}
{% block sub_body %}
<h1 class="text-center">Oeuvres en attente de validation</h1>
{{ include('_flash_messages.html.twig')}}
<div class="text-center">
    <a href="{{ path('app_artwork_index') }}" class="btn btn-outline-primary mb-4 mt-4">Retour à la liste des
        oeuvres</a>
</div>
<table class="table table-striped">
    <thead>
        <tr class="text-center">
            <th>Id</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Image</th>
            <th>Valider</th>
            <th>Refuser</th>
        </tr>
    </thead>
    <tbody>
        {% for artwork in artworks %}
        <tr class="text-center">
            <td>{{ artwork.id|raw }}</td>
            <td>{{ artwork.title|raw }}</td>
            {% if artwork.description is same as (null)%}
            <td>-</td>
            {% else %}
            <td>{{ artwork.description|raw }}</td>
            {% endif %}
            <td><img src="{{ artwork.picture }}" width="100em" class="myImg"></td>
            <td>
                <form action="{{ path('app_artwork_validate', {'id': artwork.id}) }}" method="post">
                    <input type="hidden" name="token" value="{{ csrf_token('validate-item') }}" />
                    <button class="btn btn-outline-success">Valider l'oeuvre</button>
                </form>
            </td>
            <td>
                <form action="{{ path('app_artwork_decline', {'id':artwork.id})}}" method="post">
                    <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}" />
                    <button class="btn btn-outline-danger">Refuser l'oeuvre</button>
                </form>

            </td>
        </tr>
        {% else %}
        <tr class="text-center">
            <td colspan="7">Aucune oeuvre à valider pour le moment</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{# Modal #}
<div id="myImgModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modalImg">
</div>
{% block javascript %}
<script src="{{asset('js/picture-modal.js')}}"></script>
{% endblock %}
{% endblock %}