{% extends 'main.html.twig' %}
{% block sub_body %}
<h1 class="text-center mb-5">Liste des expositions archivées</h1>
{{ include('_button_up.html.twig') }}
<table class="table table-striped">
    <thead>
        <tr class="text-center">
            <th>Titre</th>
            <th>Fin de l'exposition</th>
            <th style="width:40rem">Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for archiveExhibition in archiveExhibitions %}
        <tr class="text-center">
            <td>{{ archiveExhibition.title|raw }}</td>
            <td>{{ archiveExhibition.endDate ? archiveExhibition.endDate|date('Y-m-d') : '' }}</td>
            {% if archiveExhibition.description is same as (null) %}
            <td>-</td>
            {% else %}
            <td style="text-align: justify;">{{ archiveExhibition.description|raw }}</td>
            {% endif %}
            <td>
                <a href="{{ path('app_exhibitions_artworks', {'id': archiveExhibition.id })}}"
                    class="btn btn-outline-dark btn-sm">Voir les oeuvres</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="8" class="text-center">Aucune exposition archivée pour le moment</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}