{% extends 'main.html.twig' %}

{% block title %}Liste des expositions{% endblock %}

{% block sub_body %}
<h1 class="text-center">Liste des expositions</h1>
{{ include('_flash_messages.html.twig')}}
<div class="d-flex justify-content-evenly">
    <a href="{{ path('app_exhibition_new') }}" class="btn btn-outline-success mb-4 mt-4">Ajouter une exposition</a>
    <a href="{{ path('app_exhibitions_command_check') }}" class="btn mb-4 mt-4"
        style="background-color:#D0B9AE;">Vérifier les expositions</a>
</div>
{{ include('_button_up.html.twig') }}
<table class="table table-striped table-hover">
    <thead>
        <tr class="text-center">
            <th>Titre</th>
            <th>Fin de l'exposition</th>
            <th>Statut</th>
            <th style="width:40rem">Description</th>
            <th>Artiste</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for exhibition in exhibitions %}
        <tr class="text-center">
            <td>{{ exhibition.title|raw }}</td>
            <td>{{ exhibition.endDate ? exhibition.endDate|date('Y-m-d') : '' }}</td>
            <td>{{ exhibition.status ? 'En cours' : 'Archivée' }}</td>
            {% if exhibition.description is same as (null) %}
            <td>-</td>
            {% else %}
            <td style="text-align: justify;">{{ exhibition.description|raw }}</td>
            {% endif %}
            {% if exhibition.artist.nickname is same as(null)%}
            <td>{{exhibition.artist.getFullName|raw}}</td>
            {% else %}
            <td>{{ exhibition.artist.nickname|raw}}</td>
               
            {% endif %}
            

            <td>
                <a href="{{ path('app_exhibition_show', {'id': exhibition.id}) }}"
                    class="btn btn-outline-primary btn-sm">En savoir plus</a>
                <a href="{{ path('app_exhibition_edit', {'id': exhibition.id}) }}"
                    class="btn btn-outline-warning btn-sm">Modifier</a>
                <a href="{{ path('app_exhibitions_artworks',{'id':exhibition.id})}}"
                    class="btn btn-outline-dark btn-sm">Voir les oeuvres</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="8">Aucune exposition pour le moment</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}