{% extends 'base.html.twig' %}
{% block body %}
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{{ path('app_home_backoffice')}}">Art@home</a>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
            <ul class="nav nav-underline">
                <li class="nav-item ">
                    <a class="nav-link text-white" href="{{ path('app_exhibition_index')}}">Expositions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_artwork_index')}}">Oeuvres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_user_index')}}">Utilisateurs</a>
                </li>
            </ul>
            {% if artworksNotValidate %}
            <a href="{{ path('app_validation_waiting')}}" class="btn btn-warning mb-4 mt-4">Oeuvres en attente de
                validation</a>
            {% endif %}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <ul class="nav nav-underline d-flex align-items-center ">
                <li>
                    <h6 class="nav-item text-white mr-4 mt-1 ">
                        {% if is_granted("ROLE_ADMIN") %}
                        Administrateur
                        {% elseif is_granted("ROLE_MODERATOR") %}
                        Modérateur
                        {% endif %}
                    </h6>
                </li>

                <li><a class="btn btn-danger me-2" href="{{ path('app_logout') }}">Déconnexion</a></li>
            </ul>
            {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-danger me-2">Connexion</a>
            {% endif %}
        </div>

    </div>
</nav>
<div class="container-fluid p-5">
    {% block sub_body %}
    <div class="bg-light d-flex flex-column align-items-center justify-content-center" style="height: 600px">

        <h1>Bienvenue sur le backoffice</h1>
        <h2>Art@home</h2>
    </div>
    {% endblock %}
</div>

{% endblock %}