{% extends 'main.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block sub_body %}
<h1 class="text-center">Liste des utilisateurs</h1>
{{ include('_flash_messages.html.twig')}}
<div class="text-center">
    <a href="{{ path('app_user_new') }}" class="btn btn-outline-success mb-4 mt-4">Ajouter un utilisateur</a>
</div>

<form action="{{ path('app_user_index')}}" method="post" id="sort-form">
    <div class="input-group mb-4" style="width: 20%;">
        <select name="role" class="form-select" aria-label="Choisir un utilisateur" onchange="submitForm()">
            <option>-- Trier par --</option>
            <option value="ROLES">Tous</option>
            <option value="ROLE_ADMIN">Administrateur</option>
            <option value="ROLE_MODERATOR">Modérateur</option>
            <option value="ROLE_ARTIST">Artiste</option>
            <option value="ROLE_USER">Utilisateur</option>
        </select>
    </div>
</form>
{{ include('_button_up.html.twig') }}
<table class="table table-striped table-hover">
    <thead>
        <tr class="text-center">
            <th>Email</th>
            <th>Role</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Pseudo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr class="text-center">
            <td>{{ user.email|raw }}</td>
            {% for role in user.roles %}
            {% if role == "ROLE_ADMIN" %}
            <td>Administrateur</td>
            {% elseif role == "ROLE_MODERATOR" %}
            <td>Modérateur</td>
            {% elseif role == "ROLE_ARTIST" %}
            <td>Artiste</td>
            {% else %}
            <td>Utilisateur</td>
            {% endif %}
            {% endfor %}
            <td>{{ user.lastname|raw }}</td>
            <td>{{ user.firstname|raw }}</td>
            {% if user.nickname is same as (null) %}
            <td>-</td>
            {% else %}
            <td>{{ user.nickname|raw }}</td>
            {% endif %}

            <td>
                <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-outline-primary btn-sm">En savoir
                    plus</a>
                <a href="{{ path('app_user_edit', {'id': user.id}) }}"
                    class="btn btn-outline-warning btn-sm">Modifier</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="10" class="text-center">Aucun utilisateurs</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% block javascripts %}
<script src="{{ asset('js/select-form.js')}}"></script>
{% endblock %}
{% endblock %}